@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root {
  --main-background-color: hsl(213, 86%, 89%);
  --shadow-color: rgba(0, 4, 255, 0.289);
  --shadow-focus: rgba(255, 0, 0, 0.506);
  --calculator-background: rgb(247, 246, 208);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4px;
  background-color: var(--main-background-color);
  font-size: larger;
  font-family: 'Orbitron', sans-serif;
}

.container {
  box-shadow: 4px 4px 4px var(--shadow-color);
  border-radius: 8px;
  background-color: var(--calculator-background);
  max-width: 400px;
  padding-top: 60px;
  padding-bottom: 35px;
}

.my-btn {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  font-size: larger;
  font-weight: 600;
  box-shadow: 4px 4px 4px var(--shadow-color);
  transform: perspective(10px) rotateX(0deg);
  transition: all 0.3s;
}

.my-btn:hover,
.clicked {
  transform: perspective(30px) rotateX(4deg);
  box-shadow: 4px 4px 4px var(--shadow-focus);
}

.display {
  box-shadow: 2px 2px 2px var(--shadow-color) inset;
}

.input {
  height: 5px;
  font-size: small;
}

.operator {
  margin: 0 3px;
}

.result {
  margin: 0;
  padding: 5px 0;
  font-weight: 600;
  font-size: larger;
}

.special-divider {
  border: none;
  background-color: var(--calculator-background);
  height: 2px;
  width: 50%;
  margin: 12px auto;
}

.attribution {
  margin-top: 50px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution a {
  text-decoration: none;
}